<extend name="Public:base" />
<block name="title"><title>timesharing</title></block>
<block name="nav">
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="../Index/index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
        <li class="menu-list nav-active"><a href=""><i class="fa fa-random"></i> <span>周期走势</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Trend/exponential')}"> 支持指数与参与指数</a></li>
                <li><a href="{:U('Trend/analyse')}"> 类目分析</a></li>
                <li><a href="{:U('Trend/participate')}"> 类目参与</a></li>
                <li><a href="{:U('Trend/line')}"> 项目上线</a></li>
                <li><a href="{:U('Trend/realtime')}"> 实时统计</a></li>
                <li class="active"><a href="{:U('Trend/timesharing')}"> 分时统计</a></li>
                <li><a href="{:U('Trend/download')}"> 下载量</a></li>
                <li><a href="{:U('Trend/register')}"> 用户周期</a></li>
                <li><a href="{:U('Trend/active')}"> 活跃用户</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-male"></i> <span>人群分析</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('People/population')}"> 人群特性</a></li>
                <li><a href="{:U('People/support')}"> 用户支持</a></li>
                <li><a href="{:U('People/region')}"> 地域分析</a></li>
                <li><a href="{:U('People/hierarchy')}"> 消费层级</a></li>
                <li><a href="{:U('People/passes')}"> 消费次数</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>需求分析</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Require/dispersion')}"> 类目分布</a></li>
                <li><a href="{:U('Require/project')}"> 项目基础数据</a></li>
                <li><a href="{:U('Require/market')}"> 市场细分</a></li>
                <li><a href="{:U('Require/channel')}"> 渠道来源</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-comment"></i> <span>微信统计</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Statistics/user')}"> 用户分析</a></li>
                <li><a href="{:U('Statistics/teletext')}"> 图文分析</a></li>
                <li><a href="{:U('Statistics/message')}"> 消息分析</a></li>
            </ul>
        </li>
        <li><a href="{:U('Login/index')}"><i class="fa fa-sign-in"></i> <span>登录 页面</span></a></li>

    </ul>
</block>
<block name="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        分时统计
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <header class="panel-heading no-border">
                            <div class="widget-container">
                                <div class="nav-tab">
                                    <ul id="default-titles" class="nav-titles">
                                        <li class="teletext-read" id="ios_btn"><div>ios</div></li>
                                        <li id="android_btn"><div>android</div></li>
                                    </ul>                                 
                                </div>
                            </div>
                            <div>
                                <input type="text" class="datapicker" id="dpd1" value="">             
                            </div>
                        </header>
                        <div id="timesharing-statistics">
                            <div class="col-sm-12">
                                <section class="panel">
                                    <div class="panel-body">
                                        <div id="pie-chart" class="pie-chart">
                                            <div class="col-md-6" style="position: relative;top:35px;left: 50%;margin-left:-405px">
                                                <!--statistics start-->
                                                <div class="row state-overview">
                                                    <div class="col-md-6 col-xs-12 col-sm-6">
                                                        <div class="panel purple">
                                                            <div class="symbol">
                                                                <i class="fa fa-gavel"></i>
                                                            </div>
                                                            <div class="state-value">
                                                                <div class="value">区间总用户数</div>
                                                                <div class="title" id="installation_count"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 col-sm-6">
                                                        <div class="panel red">
                                                            <div class="symbol">
                                                                <i class="fa fa-tags"></i>
                                                            </div>
                                                            <div class="state-value">
                                                                <div class="value">区间新增注册用户总数</div>
                                                                <div class="title" id="new_user_count"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row state-overview">
                                                    <div class="col-md-6 col-xs-12 col-sm-6">
                                                        <div class="panel blue">
                                                            <div class="symbol">
                                                                <i class="fa fa-money"></i>
                                                            </div>
                                                            <div class="state-value">
                                                                <div class="value">区间活跃用户总数</div>
                                                                <div class="title" id="active_user_count"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12 col-sm-6">
                                                        <div class="panel green">
                                                            <div class="symbol">
                                                                <i class="fa fa-eye"></i>
                                                            </div>
                                                            <div class="state-value">
                                                                <div class="value">区间启动次数</div>
                                                                <div class="title" id="launche_count"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--statistics end-->
                                            </div>
                                            <div id="pie-chartContainer" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;"></div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</block>
<block name="footer">
    <script>
        $(function () {
            // 日期转换格式yy-mm-dd
            var newdate = "";
            function getToDay(){
                var now = new Date();
                var nowYear = now.getFullYear();
                var nowMonth = now.getMonth();
                var nowDate = now.getDate();          
                nowMonth = doHandleMonth(nowMonth + 1);
                nowDate = doHandleMonth(nowDate);
                newdate = nowYear+"-"+nowMonth+"-"+nowDate;
                return newdate;
            }
            function doHandleMonth(current){
                if(current.toString().length == 1){
                    current = "0" + current;
                }
                return current;
            }
            $("#dpd1").val(getToDay());
            $("#dpd1").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,//选择日期后自动关闭
                minView: "month",
                endDate: new Date()          
            }).on('changeDate',function(ev){
                $("#dpd1").datetimepicker("setEndDate",new Date());
                date=$("#dpd1").val();
                $.ajax({
                    type:"get",
                    url:"/Api/YouMeng/baseData/type/"+type_value+"/date/"+date,
                    success: function(res) {
                        console.log(res);
                        $('#installation_count').html(res.data['installations']);
                        $('#new_user_count').html(res.data['new_users']);
                        $('#active_user_count').html(res.data['active_users']);
                        $('#launche_count').html(res.data['launches']);
                    }
                });
            });
            // 页面加载进来默认ios当天的数据
            type_value="ios";
            $.ajax({
                type:"get",
                url:"/Api/YouMeng/baseData/type/"+type_value,
                success: function(res) {
                    $('#installation_count').html(res.data['installations']);
                    $('#new_user_count').html(res.data['new_users']);
                    $('#active_user_count').html(res.data['active_users']);
                    $('#launche_count').html(res.data['launches']);
                }
            });

            $("#ios_btn").click(function() {
                var index=$(this).index();
                $(this).addClass("teletext-read").siblings().removeClass("teletext-read");
                $("#timesharing-statistics").show();
                type_value="ios";
                date=$("#dpd1").val();
                getData(type_value,date);
                $("#dpd1").datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,//选择日期后自动关闭
                    minView: "month"          
                }).on('changeDate',function(ev){
                    $("#dpd1").datetimepicker("setEndDate",new Date());
                    getData(type_value,date);
                });
            });
            $("#android_btn").click(function() {
                index=$(this).index();
                $(this).addClass("teletext-read").siblings().removeClass("teletext-read");
                $("#timesharing-statistics").show();
                type_value="android";
                date=$("#dpd1").val();
                getData(type_value,date);
                $("#dpd1").datetimepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true,//选择日期后自动关闭
                    minView: "month"          
                }).on('changeDate',function(ev){
                    $("#dpd1").datetimepicker("setEndDate",new Date());
                    getData(type_value,date);
                });
        
            });
        });
        function getData(type,data){
            $.ajax({
                type:"get",
                url:"/Api/YouMeng/baseData/type/"+type_value+"/date/"+date,
                success: function(res) {
                    console.log(res);
                    $('#installation_count').html(res.data['installations']);
                    $('#new_user_count').html(res.data['new_users']);
                    $('#active_user_count').html(res.data['active_users']);
                    $('#launche_count').html(res.data['launches']);
                }
            });
        }
    </script>
</block>
