<extend name="Public:base" />
<block name="title">
    <title>support</title>
</block>
<block name="nav">
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="../Index/index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
        <li class="menu-list"><a href=""><i class="fa fa-random"></i> <span>周期走势</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Trend/exponential')}"> 支持指数与参与指数</a></li>
                <li><a href="{:U('Trend/analyse')}"> 类目分析</a></li>
                <li><a href="{:U('Trend/participate')}"> 类目参与</a></li>
                <li><a href="{:U('Trend/line')}"> 项目上线</a></li>
                <li><a href="{:U('Trend/realtime')}"> 实时统计</a></li>
                <li><a href="{:U('Trend/timesharing')}"> 分时统计</a></li>
                <li><a href="{:U('Trend/download')}"> 下载量</a></li>
                <li><a href="{:U('Trend/register')}"> 用户周期</a></li>
                <li><a href="{:U('Trend/active')}"> 活跃用户</a></li>
            </ul>
        </li>
        <li class="menu-list nav-active"><a href=""><i class="fa fa-male"></i> <span>人群分析</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('People/population')}"> 人群特性</a></li>
                <li class="active"><a href="{:U('People/support')}"> 用户支持</a></li>
                <li><a href="{:U('People/region')}"> 地域分析</a></li>
                <li><a href="{:U('People/hierarchy')}"> 消费层级</a></li>
                <li><a href="{:U('People/passes')}"> 消费次数</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>需求分析</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Require/dispersion')}"> 类目分布</a></li>
                <li><a href="{:U('Require/project')}"> 项目基础数据</a></li>
                <li><a href="{:U('Require/market')}"> 市场细分</a></li>
                <li><a href="{:U('Require/channel')}"> 渠道来源</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-comment"></i> <span>微信统计</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Statistics/user')}"> 用户分析</a></li>
                <li><a href="{:U('Statistics/teletext')}"> 图文分析</a></li>
                <li><a href="{:U('Statistics/message')}"> 消息分析</a></li>
            </ul>
        </li>
        <li><a href="{:U('Login/index')}"><i class="fa fa-sign-in"></i> <span>登录 页面</span></a></li>
    </ul>
</block>
<block name="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        用户支持
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <!-- <div class="panel-body">
                        <div class="col-sm-12">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="pie-chartContainer" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="panel-body">
                                                        <div class="chartJS">
                                                            <div id="pie-chart-js"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="panel-body">
                                                        <div class="chartJS">
                                                            <div id="donut-chart-js"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="panel-body">
                                                        <div class="chartJS">
                                                            <div id="par-chart-js"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="panel-body">
                                                        <div class="chartJS">
                                                            <div id="sup-chart-js"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div> -->
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="pie-chart-js" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="donut-chart-js" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="par-chart-js" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="sup-chart-js" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</block>
<block name="footer">
    <script type="text/javascript">
    $(function() {
        $('#pie-chart-js').highcharts({
            credits: {
                enabled: false // 禁用版权信息
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '支持者'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['男', 58],
                    ['女', 42],

                ]
            }]
        });
    });

    $('#par-chart-js').highcharts({
        credits: {
            enabled: false // 禁用版权信息
        },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '参与者'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['男', 58],
                ['女', 42],

            ]
        }]
    });
    $('#donut-chart-js').highcharts({
        credits: {
            enabled: false // 禁用版权信息
        },
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },

        xAxis: {
            categories: [
                '电影',
                '服装',
                '旅行',
                '美食',
                '萌控',
                '明星',
                '设计',
                '摄影',
                '手绘',
                '书法',
                '香港',
                '演唱会'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '值'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '男',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: '女',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        }]

    });
    $('#sup-chart-js').highcharts({
        credits: {
            enabled: false // 禁用版权信息
        },
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },

        xAxis: {
            categories: [
                '电影',
                '服装',
                '旅行',
                '美食',
                '萌控',
                '明星',
                '设计',
                '摄影',
                '手绘',
                '书法',
                '香港',
                '演唱会'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '值'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '男',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: '女',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        }]

    });
    </script>
</block>
