<extend name="Public:base" />
<block name="title">
    <title>dispersion</title>
</block>
<block name="nav">
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="../Index/index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
        <li class="menu-list"><a href=""><i class="fa fa-random"></i> <span>周期走势</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Trend/exponential')}"> 支持指数与参与指数</a></li>
                <li><a href="{:U('Trend/analyse')}"> 类目分析</a></li>
                <li><a href="{:U('Trend/participate')}"> 类目参与</a></li>
                <li><a href="{:U('Trend/line')}"> 项目上线</a></li>
                <li><a href="{:U('Trend/realtime')}"> 实时统计</a></li>
                <li><a href="{:U('Trend/timesharing')}"> 分时统计</a></li>
                <li><a href="{:U('Trend/download')}"> 下载量</a></li>
                <li><a href="{:U('Trend/register')}"> 用户周期</a></li>
                <li><a href="{:U('Trend/active')}"> 活跃用户</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-male"></i> <span>人群分析</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('People/population')}"> 人群特性</a></li>
                <li><a href="{:U('People/support')}"> 用户支持</a></li>
                <li><a href="{:U('People/region')}"> 地域分析</a></li>
                <li><a href="{:U('People/hierarchy')}"> 消费层级</a></li>
                <li><a href="{:U('People/passes')}"> 消费次数</a></li>
            </ul>
        </li>
        <li class="menu-list nav-active"><a href=""><i class="fa fa-cogs"></i> <span>需求分析</span></a>
            <ul class="sub-menu-list">
                <li class="active"><a href="{:U('Require/dispersion')}"> 类目分布</a></li>
                <li><a href="{:U('Require/project')}"> 项目基础数据</a></li>
                <li><a href="{:U('Require/market')}"> 市场细分</a></li>
                <li><a href="{:U('Require/channel')}"> 渠道来源</a></li>
            </ul>
        </li>
        <li class="menu-list"><a href=""><i class="fa fa-comment"></i> <span>微信统计</span></a>
            <ul class="sub-menu-list">
                <li><a href="{:U('Statistics/user')}"> 用户分析</a></li>
                <li><a href="{:U('Statistics/teletext')}"> 图文分析</a></li>
                <li><a href="{:U('Statistics/message')}"> 消息分析</a></li>
            </ul>
        </li>
        <li><a href="{:U('Login/index')}"><i class="fa fa-sign-in"></i> <span>登录 页面</span></a></li>
    </ul>
</block>
<block name="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        类目分布
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="graph-category" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <section class="panel">
                                <div class="panel-body">
                                    <div id="pie-chart" class="pie-chart">
                                        <div id="graph-people" style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</block>
<block name="footer">
    <script type="text/javascript">
    $(function() {
        $('#graph-category').highcharts({
            credits: {
                enabled: false // 禁用版权信息
            },
            chart: {
                type: 'column',
                margin: [50, 50, 100, 80]
            },
            title: {
                text: '类目分布详情及百分比'
            },
            xAxis: {
                categories: [
                    '全部',
                    '科技',
                    '电影',
                    '音乐',
                    '出版',
                    '公益',
                    '娱乐',
                    '艺术',
                    '其他',
                    '生活',
                    '学习',
                    '摄影'
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '百分比'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '百分比: <b>{point.y:.1f}%</b>',
            },

            series: [{
                name: '百分比',
                data: [100, 21.8, 20.1, 20, 19.6, 19.5, 19.1, 18.4, 18, 17.3, 16.8, 15],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    $(function() {
        $('#graph-people').highcharts({
            credits: {
                enabled: false // 禁用版权信息
            },
            chart: {
                type: 'column',
                margin: [50, 50, 100, 80]
            },
            title: {
                text: '标签人数分布详情及数量'
            },
            xAxis: {
                categories: [
                    '设计',
                    '旅行',
                    '服装',
                    '演唱会',
                    '摄影',
                    '萌控',
                    '书法',
                    '手绘',
                    '美食',
                    '明星',
                    '电影',
                    '香港'
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '人数'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '人数: <b>{point.y:.1f}</b>',
            },

            series: [{
                name: '人数',
                data: [100000, 96000, 85000, 56000, 86000, 88000, 93000, 68000, 58000, 67000, 57000, 35000],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    </script>
</block>
